main{
    background-color: #3C3B3D;
    height: 100%;
}
header{
    display: block;
    position: fixed;
    width: 100%;
}
body{
    background: #1d1d1d;
    height: 100%;
}
.navbar-light{
    background-color: #323133!important;
    transition: ease 200ms;
    opacity:0.9;
    transform: scale(1);
}
.navbar-light:hover{
    transition: ease 200ms;
    transform: scale(1.01);
    opacity:1;
}
.content{
    margin-left:10%;
    margin-right:10%;
    padding-top: 5%;
    background-color: #151515;
    height: 100%;
}
.container{
    width: 100%;
    padding-right: 0.1%;
    padding-left: 0.1%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}
.background{
    background: #1d1d1d;
    height: 100%;
}
.carousel{
    background: #151515;
}
.carousel-control-next:hover{
    transition-duration:100ms;
    background: #191919;
}
.carousel-control-prev:hover{
    transition-duration:100ms;
    background: #191919;
}
.carousel-inner{
    background: #151515;
}
.carousel-item {
    transition-duration:1s;
}
.download_link{
color:white;
}
.home_btns{
padding-top: 5%;
margin-bottom: 5%;
}
.load{
    position: fixed;
    margin-top: 10%!important;
}
.form-control-file{
    width: 25%;
}
.one_row{
    padding-top: 2%;
}
.info{
    padding-right: 50%;
}

button.like{
    margin-top: 1%;
    margin-right: 1%;
    display:inline;
    display:inline-block;
    float:left;
}
button.dislike{
    margin-top: 1%;
    display:inline;
    display:inline-block;
    float:left;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.fit { /* set relative picture size */
    max-width: 100%;
    max-height: 100%;
}
.nav-link.disabled:hover{
color:#6d8194!important;
}
.nav-link{
color:#0070e8;
}
.nav-link:hover{
color:#007bff;
}
.img{
border-radius: 1%;
}
.auth{
    padding-left: 35%;
    padding-top: 5%;
    padding-right: 35%;
}
.form-control{
    background: #3C3B3D;
    border-color: #524a52;
    color: #696969;
    transition: all 0.2s ease-in;
    transition-timing-function: cubic-bezier(0.25, 1, 0.25, 1);
}
.form-control:focus{
    background: #3C3B3D!important;
    border-color: #524a52;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #858585;
    transform: scale(1.05);
}
.success{
    color: #28a745;
}
.success:hover{
    color: #28bc48;
}
.btn.btn-primary {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5% 1.5%;
    font-size: 100%;
    line-height: 1.5;
    border-radius: .5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.submit{
    padding-top: 15%;
    margin-bottom: 15%;
}
.beauty{
    background: linear-gradient(90deg, #007bff, #28bc48, deeppink, yellow, #007bff);
    background-size: 500%;
    border-width: 0;
    width: 76%;
    border-radius: 32px;
    color: #fff;
    padding-top: 3%;
    padding-bottom: 3%;
    z-index: 1;
}
.beauty:hover{
    animation: animate 32s linear infinite;
}
@keyframes animate {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 300%;
    }
}
.beauty.edited{
    width: 20%;
    background-size: 500%;
}
.logout {
    padding-left: 5%;
    margin-bottom: 3%;
}
.btn.btn-primary{
    height: 1%;
}
#h_text{
    color:#3083da;
}
#text{
    height: 100%;
    width: 100%;
    color:#696969;
    padding-left: 3%;
}
#email{
    margin-top: 3%;
    margin-bottom: 3%;
}
/*#email:focus{*/
    /*align-content: center;*/
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
/*}*/
/*#password{*/
    /*margin-bottom: 30%;*/
/*}*/
::selection {
   background: gray;
}
::-moz-selection {
   background: gray;
}